@model IEnumerable<EmployeeApp_031.Models.Employee>
@using EmployeeApp_031.Helper
@using EmployeeApp_031.Views.Shared.Components.SearchBar

@{
    ViewData["Title"] = "Home Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int noTable = 0;

}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 employee__data">
    <h3 class="h4">Employee Data</h3>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a asp-action="Create" class="btn btn-sm btn-outline-dark text-decoration-none">
                <i class="fas fa-plus-circle"></i> 
                <span>Create new data</span>
            </a>
        </div>
    </div>
</div>

<vc:search-bar search-pager="@ViewBag.SearchPager">
</vc:search-bar>


<div class="employees__Table" style="overflow-x: auto;">
    <table class="table table-striped table-hover" id="tableEmployees">
        <thead class="table__head">
            <tr>
                <th>
                    No
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmpCode)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.OfficeLocation)
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="dataSearching" class="table_body">

    @foreach (var item in Model) {
           noTable = noTable + 1;
            <tr>
                <td>
                    @noTable
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeLocation)
                </td>
                <td> 
                    <div class="btn-group">
                         <a asp-area="@item.FullName" asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-success" title="Detail" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-info-circle"></i></a>
                         <a asp-area="@item.FullName" asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-info" title="Edit" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-edit"></i></a>
                         <a asp-area="@item.FullName" asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-danger" title="Delete" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

